@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@layer base {
  * {
      @apply m-0 p-0 box-border;
  }

  body {
      @apply m-0 p-0 overflow-x-hidden font-gowun-batang-regular;
  }
}



@layer components {}


@layer utilities {
  .font-gowun-batang-regular {
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-gowun-batang-bold {
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
  }
}

/* [#6e5e5d] [#3b2e2d] */